<div class="row py-4 bg-secondary">
    <div class="col col-lg-3 d-flex justify-content-center">       
        <ul class="text-white">
            <li class="text-dark h5"><b>Web Link</b></li>
            <li><a href="http://intranet.cattelecom.com" target="_blank">intranet</a></li>
            <li><a href="#" target="_blank">webHR</a></li>
            <li><a href="http://catmail.cattelecom.com" target="_blank">catMail</a></li>
            <li><a href="http://it.cattelecom.com" target="_blank">เว็บประจำฝ่าย IT</a></li>
        </ul>
    </div>
    <div class="col col-lg-3 d-flex justify-content-center">        
        <ul class="text-white ">
            <li class="text-dark h5"><b>Local Link</b></li>
            <li><a routerLink="/news">News</a></li>
            <li><a routerLink="/download">Download</a></li>
            <li><a routerLink="/faqs">FAQs</a></li>
            <li><a routerLink="/contactUs">ContactUs</a></li>
        </ul>
    </div>
    <div class="col col-lg-6 text-center text-white d-none d-lg-block align-self-center">
        <h3>ฝ่ายกลยุทธเทคโนโลยีสารสนเทศ</h3>
        <p>ส่วนออกแบบโครงสร้างพื้นฐานเทคโนโลยีสารสนเทศ</p>
    </div>
</div>