<div class="bg-info pt-2 pb-2 mb-4">
    <div class="container">
        <h3 class="text-white">Download.</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

            <div class="row justify-content-center mb-4">
                <div class="col-lg-8">
                    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                        <div class="input-group">
                            <input type="text" formControlName="search" class="form-control" placeholder="ไฟล์ดาวน์โหลด ?">
                            <div class="input-group-append">
                                <button type="submit" [disabled]="!searchForm.valid" class="btn btn-success">ค้นหา</button>
                            </div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-info" (click)="getUpload()">                                    
                                    <svg class="bi bi-arrow-repeat" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 00-.708 0l-2 2a.5.5 0 10.708.708L2.5 8.207l1.646 1.647a.5.5 0 00.708-.708l-2-2zm13-1a.5.5 0 00-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 00-.708.708l2 2a.5.5 0 00.708 0l2-2a.5.5 0 000-.708z" clip-rule="evenodd"/>
                                        <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 00-4.192 2.273.5.5 0 01-.837-.546A6 6 0 0114 8a.5.5 0 01-1.001 0 5 5 0 00-5-5zM2.5 7.5A.5.5 0 013 8a5 5 0 009.192 2.727.5.5 0 11.837.546A6 6 0 012 8a.5.5 0 01.501-.5z" clip-rule="evenodd"/>
                                    </svg>
                                </button>
                            </div>
                        </div>                       
                    </form>
                    <div *ngIf="errorSearch" class="alert alert-warning mt-2" role="alert">
                        ไม่พบข้อมูล
                        <button type="button" (click)="onAlertClear()" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
                
                
            
            
            
            <!-- table download list -->
            <div class=" table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <th>Title</th>
                        <th class="d-none d-md-block">FileType</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of downloadList | paginate: { itemsPerPage: 10, currentPage : page }">                            
                            <td><a [attr.href]="'http://localhost:8000/download/'+data.upload_filename">{{data.upload_title}}</a></td>
                            <td class="d-none d-md-block">{{data.upload_filetype}}</td>
                            <td>{{data.updateAT | date}}</td>
                        </tr>                       
                    </tbody>
                </table>  
                             
              
            </div>
            <div class="d-flex justify-content-end">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div> 
            <!-- end talbe download list -->
           

        </div>
    </div>
</div>
