<div class="row">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-header bg-info text-white">
              <div class="clearfix">
                <div class="float-left">
                  <h5>Software</h5>
                </div>
                <div class="float-right">
                  <i class="fas fa-2x fa-plus-circle"></i>
                </div>
              </div>
            </div>
            <div class="card-body">
              body Software
            </div>            
          </div>
    </div>
</div>
